<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <img src="../static/image/kodomo4.jpg">
    <h1>
        ３０㎜のねじで固定しましょう。（間隔をさらにそろえたい場合は座面を置くときに、厚さ２m程度の板を挟むと、板同士の間隔が揃うので）
        一番前の板をねじで止め、その際、止めるねじの位置を後ろよりにしてください。
    </h1>
    <img src="../static/image/kodomo5.jpg">
    <h1>
        イスの中央部分をねじで固定してください。
        すべての残った穴を丸棒で埋めたら完成です。
    </h1>
</body>
</html>